.ipynb_checkpoints/
images/
logs/
training_checkpoints/
training_checkpoints_gan201/
training_checkpoints_gan/
training_checkpoints_downup/
otherims/
otherims2/
otherims3/
otherims4/
unetsettings2/
unetsettings3/
unetsettings4/
unetsettings5/
unetsettings6/
loop.gif
loop1.gif
maskedImg.png
maskedModelImg.png
bAndWLabelSoil.png
bAndWLabelVegetation.png
bAndWMaskedModelImg.png
maskOverImg.png
maskOverImg1.png
soilError.png
vegetationError.png
model.png